In [8]:
import pandas as pd

df = pd.read_csv("arquivos_csv/dados_sem_outliers.csv")
df

,consumo_carne_vermelha,consumo_frango,consumo_peixe,consumo_leite,consumo_verdura_legume,consumo_frutas,consumo_doces,consumo_substitui_almoco,percepcao_consumo_sal,freq_bebida_alcoolica,...,diag_doenca_coracao,diag_colesterol_alto,autoavaliacao_saude,freq_problemas_sono,freq_cansaco,idade,sexo,bebidas_acucar_dias_semana,atividade_fisica_categoria,IMC_Categoria
0,3,1,1,3,3,1,2,0,2,1,...,2,2,1,1,2,30,1,3.0,2,3
1,3,1,1,3,2,3,3,0,2,1,...,2,2,2,1,1,80,2,0.0,0,2
2,0,3,0,0,3,3,1,0,3,1,...,2,1,2,1,1,56,2,1.0,1,3
3,2,2,1,0,3,3,1,0,2,1,...,2,2,2,1,4,34,2,0.0,0,2
4,2,2,0,1,2,2,0,0,2,1,...,2,2,2,1,1,40,2,0.0,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88731,1,2,1,0,2,1,0,0,2,1,...,2,2,2,4,4,30,2,2.0,0,5
88732,1,1,1,2,2,2,0,0,2,3,...,2,2,2,1,1,39,1,1.0,3,3
88733,1,2,1,2,2,1,1,0,2,3,...,2,2,2,1,1,34,1,2.0,0,4
88734,2,2,1,2,3,3,0,0,2,1,...,2,1,1,1,1,51,2,1.0,2,3
88735,2,2,0,0,2,1,1,1,2,2,...,2,2,3,3,2,37,1,3.0,0,2

In [9]:
from sklearn.model_selection import train_test_split

alvo = 'diag_hipertensao'
y = df[alvo]

X = df.drop(alvo, axis=1)

print(f"Shape das features (X) antes da divisão: {X.shape}")
print(f"Shape do alvo (y) antes da divisão: {y.shape}")
X_train, X_test, y_train, y_test = train_test_split(
    X, 
    y, 
    test_size=0.2, 
    random_state=42,
    stratify=y
)


print("\n--- Divisão Concluída ---")
print(f"Formato de X_train: {X_train.shape}")
print(f"Formato de y_train: {y_train.shape}")
print(f"Formato de X_test:  {X_test.shape}")
print(f"Formato de y_test:  {y_test.shape}")

print("\n--- Verificação da Estratificação (Proporção de Hipertensos) ---")
print(f"Proporção no y original:\n{y.value_counts(normalize=True).sort_index()}")
print(f"\nProporção no y_train:\n{y_train.value_counts(normalize=True).sort_index()}")
print(f"\nProporção no y_test:\n{y_test.value_counts(normalize=True).sort_index()}")

Shape das features (X) antes da divisão: (88736, 21)
Shape do alvo (y) antes da divisão: (88736,)

--- Divisão Concluída ---
Formato de X_train: (70988, 21)
Formato de y_train: (70988,)
Formato de X_test:  (17748, 21)
Formato de y_test:  (17748,)

--- Verificação da Estratificação (Proporção de Hipertensos) ---
Proporção no y original:
diag_hipertensao
1    0.268786
2    0.731214
Name: proportion, dtype: float64

Proporção no y_train:
diag_hipertensao
1    0.268792
2    0.731208
Name: proportion, dtype: float64

Proporção no y_test:
diag_hipertensao
1    0.268763
2    0.731237
Name: proportion, dtype: float64

In [ ]:
df_treino = X_train.copy()
df_treino[alvo] = y_train

df_teste = X_test.copy()
df_teste[alvo] = y_test

df_treino.to_csv("arquivos_csv/treino.csv", index=False)
df_teste.to_csv("arquivos_csv/teste.csv", index=False)